<?xml version="1.0" encoding="UTF-8" ?>
<wapl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://wapl.wapple.net/wapl.xsd"> 
<head> 
{% block wapl_head %}{% endblock %} 
</head> 
<layout> 
{% block wapl_layout %}{% endblock %} 
<spacemakerChunk>
<scale>10</scale>
</spacemakerChunk>
<row>
<cell>
<externalLink>
<prefix>Created by </prefix>
<label>Steven Anderson</label>
<url>http://whilefalse.net/</url>
</externalLink>
</cell>
</row>
<spacemakerChunk>
<scale>3</scale>
</spacemakerChunk>
<row>
<cell>
<externalLink>
<prefix>Mobilized with </prefix>
<label>WAPL</label>
<url>http://wapl.info</url>
</externalLink>
</cell>
</row>
</layout> 
</wapl>
